export(direct_sampling)
export(inner_ball)
export(rlim)
exportClasses(Hpolytope)
exportPattern("^[[:alpha:]]+")
importFrom("methods","new")
importFrom("stats","cov")
importFrom("utils","read.csv")
importFrom(Rcpp,loadModule)
useDynLib(samplelim, .registration=TRUE)
importFrom(lsei,lsei)
importFrom(Rglpk,Rglpk_solve_LP)
importFrom(MASS,Null)
importFrom(Rcpp, evalCpp)
