export(rlim)
export(df2lim)
export(pol.ranges)
export(lim.ranges)
export(red2full)
export(full2red)
export(lim.redpol)

export(Hpolytope)
exportClasses(Hpolytope)
importFrom("methods","new")
importFrom("stats","cov")
importFrom("utils","read.csv")
importFrom(Rcpp,loadModule, sourceCpp, evalCpp)
importFrom(lsei,lsei)
importFrom(Rglpk,Rglpk_solve_LP)
importFrom(MASS,Null)
useDynLib(samplelim, .registration=TRUE)

